<div class="container mt-5">
  <h2 class="display-5">Product List</h2>
  <div class="row">
    <div class="col-3" *ngFor="let prd of products">
      <div class="card" style="width: 15rem">
        <img
          src="{{ prd.imagePath }}"
          class="card-img-top"
          alt="IMG"
          style="width: 100%; height: 50%"
        />
        <div class="card-body">
          <h5 class="card-title">{{ prd.name }}</h5>
          <p class="card-text">
            {{ prd.description }}
          </p>
          <p class="card-text">{{ prd.price | currency : "INR" }}</p>
          <button class="btn btn-success" (click)="addToCart(prd)">
            Add To cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
